In [16]:
import numpy as np
import pandas as pd
import math
from scipy.optimize import minimize


trip = pd.read_csv('pool_data.csv')
citi_zone=pd.read_csv('citi_access.csv',usecols = ['TAZ','original']);

trip.head()
trip.describe()

,HTAZ,ID,OTAZ,DTAZ,TourID,age1,age2,age3,income1,income2,...,transferTime,choice,TT_carpool,Cost_carpool,Cost_Bike,Cost_Walk,pt,Cost_pt,tsf,New
count,31249.000000,31249.000000,31249.000000,31249.000000,3.124900e+04,31249.000000,31249.000000,31249.000000,31249.00000,31249.000000,...,31249.000000,31249.000000,31249.000000,31249.000000,31249.0,31249.0,31249.000000,31249.000000,31249.000000,31249.000000
mean,790.495632,71950.496304,694.399117,694.298986,3.510170e+08,0.312490,0.585427,0.102083,0.23684,0.309098,...,174.457199,3.846331,1413.487012,7.809043,0.0,0.0,0.674070,1.853691,0.432142,0.438126
std,514.365566,40300.300768,531.604972,531.577180,2.870661e+07,0.463516,0.492656,0.302763,0.42515,0.462129,...,225.579191,1.797443,1596.925726,7.201790,0.0,0.0,0.468729,1.289005,0.495382,0.496165
min,1.000000,52.000000,1.000000,1.000000,3.000403e+08,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,1.000000,0.000000,2.155725,0.0,0.0,0.000000,0.000000,0.000000,0.000000
25%,301.000000,39926.000000,181.000000,180.000000,3.275268e+08,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,2.000000,276.525000,3.025240,0.0,0.0,0.000000,0.000000,0.000000,0.000000
50%,777.000000,68724.000000,605.000000,605.000000,3.480960e+08,0.000000,1.000000,0.000000,0.00000,0.000000,...,92.000000,5.000000,781.965000,4.599226,0.0,0.0,1.000000,2.750000,0.000000,0.000000
75%,1261.000000,107325.000000,1181.000000,1180.000000,3.737943e+08,1.000000,1.000000,0.000000,0.00000,1.000000,...,273.000000,5.000000,1993.950000,9.733672,0.0,0.0,1.000000,2.750000,1.000000,1.000000
max,3495.000000,143910.000000,1622.000000,1622.000000,4.133511e+08,1.000000,1.000000,1.000000,1.00000,1.000000,...,2422.000000,6.000000,18312.000000,63.391726,0.0,0.0,1.000000,2.750000,1.000000,1.000000

In [18]:
for i in citi_zone:
    citi_zone['3']=citi_zone['TAZ']*citi_zone['original']

1.40025

In [7]:
# Vcarp
#'carpool','pt','taxi','bike','walk','citibike','auto'

constant=[0, 3.12028, 0.959621, 0.436728, 5.72408, 0.609463916095560]
cost=-0.0616752
time=[0.600431, -1.7437, 0, -4.27817, -5.68429, -4.27817]
tsf=-3.14574
access=-2.66062
egress=-2.59169

B_smartphone=-0.552211962397275

mu=1/0.012
constant_auto=-2.20
cost_auto=cost/mu

In [17]:
constant_smartphone=1.75;
age_56=-1.48;
age_7=-2.63;
income=[-0.478,0.641,0.789];
work=1.08;

In [22]:
constant[1]

3.12028

In [20]:
smartphone=[]

for i in trip:
    V_smartphone=constant_smartphone+trip.iloc[7]*age_56+trip.iloc[8]*age_7+trip.iloc[9]*income.iloc[1]+trip.iloc[11]*income(2]+trip.iloc[i,12]*income(3]+work*trip.iloc[i,13];
    log_V_smartphone=math.exp(V_smartphone)/(math.exp(V_smartphone)+1)
    smartphone.append(log_V_smartphone)

SyntaxError: invalid syntax (<ipython-input-20-9ad73bba3790>, line 4)

In [ ]:


citi_access=zeros(size(trip,1),1);
for i=1:size(trip,1)
    if((ismember(trip(i,3),citi_zone(:,3))*ismember(trip(i,4),citi_zone(:,3)))>0)
        citi_access(i)=1;
    end
end

In [13]:
temp=pd.DataFrame['carpool','pt','taxi','bike','walk','citibike','auto','escooter']
logsum1=[]
logsum2=[]
tour_time=[]
tour_cost=[]
tour_sum=[]
tour_weight=[]

for row in trip:


        #carpool 
        temp.iloc[row,0]=trip.iloc[i,32]*(constant[0]+cost*trip.iloc[i,33]+time[0]*trip.iloc[i,21]/3600+tsf*trip.iloc[i,34]+access*trip.iloc[i,22]/3600+egress*trip.iloc[i,23]/3600+wait*trip.iloc[i,25]/3600)

        #pt
        temp.iloc[row,1]=trip.iloc[i,32]*(constant[1]+cost*trip.iloc[i,33]+time[1]*trip.iloc[i,21]/3600+tsf*trip.iloc[i,34]+access*trip.iloc[i,22]/3600+egress*trip.iloc[i,23]/3600+wait*trip.iloc[i,25]/3600)

        #taxi
        temp.iloc[row,2]=constant[2]+cost*trip.iloc[i,16]+time[2]*trip.iloc[i,17]/3600
 
        #bike
        temp.iloc[row,3]=constant[3]+cost*trip.iloc[i,30]+time[3]*trip.iloc[i,19]/3600  

        #walk
        temp.iloc[row,4]=constant[4]+cost*trip.iloc[i,31]+time[4]*trip.iloc[i,18]/3600   

        #citi
        temp.iloc[row,5]=citi_access[i]*(cost*3.29+time[5]*trip.iloc[i,19]/3600+B_smartphone*smartphone[i])

        #escooter
        temp.iloc[row,6]=x[1]+cost*(1+0.15*trip.iloc[i,19])+time[6]*trip.iloc[i,19]/3600+B_smartphone*smartphone[i]

SyntaxError: invalid syntax (<ipython-input-13-930f2b55ff94>, line 28)

In [3]:


def objective(x):
    
#'carpool','pt','taxi','bike','walk','citibike','auto'

    for row in data:


        #carpool 
        temp.iloc[row,0]=trip.iloc[i,32]*[constant[0]+cost*trip.iloc[i,33]+time[0]*trip.iloc[i,21]/3600+tsf*trip.iloc[i,34]+access*trip.iloc[i,22]/3600+egress*trip.iloc[i,23]/3600+wait*trip.iloc[i,25]/3600];

        #pt
        temp.iloc[row,1]=trip.iloc[i,32]*[constant[1]+cost*trip.iloc[i,33]+time[1]*trip.iloc[i,21]/3600+tsf*trip.iloc[i,34]+access*trip.iloc[i,22]/3600+egress*trip.iloc[i,23]/3600+wait*trip.iloc[i,25]/3600];

        #taxi
        temp.iloc[row,2]=constant[2]+cost*trip.iloc[i,16]+time[2]*trip.iloc[i,17]/3600;  %V_taxi
 
        #bike
        temp.iloc[row,3]=constant[3]+cost*trip.iloc[i,30]+time[3]*trip.iloc[i,19]/3600;  %V_bike

        #walk
        temp.iloc[row,4]=constant[4]+cost*trip.iloc[i,31]+time[4]*trip.iloc[i,18]/3600;  %V_walk

        #citi
        temp.iloc[row,5]=citi_access[i]*[x[1]+cost*3.29+time[5]*trip.iloc[i,19]/3600+x[3]*smartphone[i]);  %V_citi

        #escooter
        temp.iloc[row,6]=citi_access[i]*[x[1]+cost*3.29+time[6]*trip.iloc[i,19]/3600+x[3]*smartphone[i]);  %V_citi

                                                   
                                         
                                         
        logsum2[i]=log(math.exp(temp.iloc[row,1]))+exp(math.temp.iloc[row,2])*trip.iloc[i,32]+exp(temp.iloc[row,3])+exp[temp.iloc[row,4])+exp[temp.iloc[row,5])+expand*[exp[temp.iloc[row,6])*citi_access[i]+exp[temp.iloc[row,7])]);
        %logsum with FHV

    
          if(i>1 && trip(i,36)==0)
        tour_time(i)=tour_time(i-1)+trip(i,14);
        tour_cost(i)=tour_cost(i-1)+trip(i,15);
        tour_weight(i)=tour_weight(i-1)+trip(i,20);
    elseif(i>1 && trip(i,36)>0)
        tour_time(i)=trip(i,14);
        tour_cost(i)=trip(i,15);
        tour_weight(i)=trip(i,20);
        
        
        
toursum(1,1)=logsum2(1)*smartphone(1)+(1-smartphone(1))*logsum1(1);
for i=2:size(trip,1)
    if(trip(i,36)==0)
        toursum(i)=toursum(i-1)+logsum2(i)*smartphone(i)+(1-smartphone(i))*logsum1(i);
    else
        toursum(i)=logsum2(i)*smartphone(i)+(1-smartphone(i))*logsum1(i);
    end
end
or i=1:(size(trip,1)-1)
    if(trip(i+1,36)==1)
        p_auto(i)=exp(constant_auto+cost_auto*tour_cost(i)+time_auto*tour_time(i)/3600)/(exp(constant_auto+cost_auto*tour_cost(i)+time_auto*tour_time(i)/3600)+exp(toursum(i)/mu));
        p_nonauto(i)=exp(toursum(i)/mu)/(exp(constant_auto+cost_auto*tour_cost(i)+time_auto*tour_time(i)/3600)+exp(toursum(i)/mu));
    elseif(i>1 && trip(i)>0)
        p_auto(i)=0;
        p_nonauto(i)=0;
    end
end

p_auto(size(trip,1))=exp(constant_auto+cost_auto*tour_cost(size(trip,1))+time_auto*tour_time(size(trip,1))/3600)/(exp(constant_auto+cost_auto*tour_cost(size(trip,1))+time_auto*tour_time(size(trip,1))/3600)+exp(toursum(size(trip,1))/mu));
p_nonauto(size(trip,1))=exp(toursum(size(trip,1))/mu)/(exp(constant_auto+cost_auto*tour_cost(size(trip,1))+time_auto*tour_time(size(trip,1))/3600)+exp(toursum(size(trip,1))/mu));


#give the same prob to all the same ID

for i=(size(trip,1)-1):-1:1
    if(p_auto(i)==0)
        p_auto(i)=p_auto(i+1);
        p_nonauto(i)=p_nonauto(i+1);
    end
end

#lower level --> nonauto  probability
# bottom level MNL

p_carpool=zeros(size(trip,1),1);
p_pt=zeros(size(trip,1),1);
p_taxi=zeros(size(trip,1),1);
p_bike=zeros(size(trip,1),1);
p_walk=zeros(size(trip,1),1);
p_citi=zeros(size(trip,1),1);
p_FHV=zeros(size(trip,1),1);



#least square error
# real trip
citi_trip=csvread('citi.csv',1,1);
FHV_trip=csvread('FHV.csv',1,0);
#aggregate the zone
#multiply by probability
#calculate the #of each mode trip by zone
for i=1:size(trip,1)
    zone(trip(i,3),1)=zone(trip(i,3),1)+p_auto(i)*trip(i,20);
    zone(trip(i,3),2)=zone(trip(i,3),2)+p_carpool(i);
    zone(trip(i,3),3)=zone(trip(i,3),3)+p_pt(i);
    zone(trip(i,3),4)=zone(trip(i,3),4)+p_taxi(i);
    zone(trip(i,3),5)=zone(trip(i,3),5)+p_bike(i);
    zone(trip(i,3),6)=zone(trip(i,3),6)+p_walk(i);
    zone(trip(i,3),7)=zone(trip(i,3),7)+p_citi(i);
    zone(trip(i,3),8)=zone(trip(i,3),8)+p_FHV(i);
end


#ignore?
for i=1:size(trip,1)
    if(trip(i,27)==1)
        zone(trip(i,3),10)=zone(trip(i,3),10)+trip(i,20);
    elseif(trip(i,27)==2)
        zone(trip(i,3),11)=zone(trip(i,3),11)+trip(i,20);
    elseif(trip(i,27)==3)
        zone(trip(i,3),12)=zone(trip(i,3),12)+trip(i,20);
    elseif(trip(i,27)==4)
        zone(trip(i,3),13)=zone(trip(i,3),13)+trip(i,20);
    elseif(trip(i,27)==5)
        zone(trip(i,3),14)=zone(trip(i,3),14)+trip(i,20);
    elseif(trip(i,27)==6)
        zone(trip(i,3),9)=zone(trip(i,3),9)+trip(i,20);
    end
end


RMSE=zeros(1622,8);
for i=1:1622
    RMSE(i,1)=(zone(i,1)-zone(i,9))^2;
    RMSE(i,2)=(zone(i,2)-zone(i,10))^2;
    RMSE(i,3)=(zone(i,3)-zone(i,11))^2;
    RMSE(i,4)=(zone(i,4)-zone(i,12))^2;
    RMSE(i,5)=(zone(i,5)-zone(i,13))^2;
    RMSE(i,6)=(zone(i,6)-zone(i,14))^2;
    RMSE(i,7)=(zone(i,7)-zone(i,15))^2*expand;
    RMSE(i,8)=(zone(i,8)-zone(i,16))^2*expand;
end
y=sqrt(sum(RMSE(:,7)/1622))+sqrt(sum(RMSE(:,8)/1622));

#minimize the
# sum of (y -guessed_y)^2
    
    return 0;

In [ ]:

def constraint1(x):
    return #각자의 MNL모델?

In [4]:


#bounds

b=(1.0,5.0)
bnds = (b,b,b,b)

con1 = 
con2 = 
cons = [con1,con2]

SyntaxError: invalid syntax (<ipython-input-4-5969a317a8af>, line 6)

In [5]:
sol = minimize(objective, x0, method='SLSQP', bounds = bnds, constraints = cons)

NameError: name 'x0' is not defined

In [ ]:
sol

sol.fun
sol.x[1]